/* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

body{
  text-align: center;
}

/* 10a 10b */
.amazon-btn{
  padding: 15px 40px;
  background-color: rgb(243, 231, 11);
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.uber-btn1{
  background-color: black;
  color: white;
  padding: 15px 40px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 20px;
}

.uber-btn2{
  background-color: rgb(223, 223, 223);
  color: rgb(0, 0, 0);
  padding: 15px 40px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

/* 10d */
.toggled-btn{
  background-color: black;
  color: white;
  padding: 15px 40px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 20px;
}

.is-toggled{
  background-color: rgb(234, 234, 234);
  color: black;
}